@model greendoor.Models.FavouriteShopViewModel

@{
    ViewData["Title"] = "Profile";
}

<br>
<h4 class="PageTitle">Profile</h4>
<hr />

<!-- details -->
<section class="holder">
    <div class="split">
        <img src="https://picsum.photos/400/400" />
    </div>

    <div class="split">
        <fieldset class="FormContent">
            <div class="form-group row">
                <label asp-for="CustomerID"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Model.CustomerID
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Credibility"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Model.Credibility
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="CustomerName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Model.CustomerName
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="EmailAddr"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Model.EmailAddr
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Password"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Model.Password
                </div>
            </div>
            <br />
            <div>
                <a asp-action="UpdateProfile" asp-controller="Customer">Update Profile</a>&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp
                <a asp-action="DeleteProfile" asp-controller="Customer">Delete Profile</a>
            </div>
        </fieldset>
    </div>
</section>

<!-- liked shops -->
<section class="holder">
    <div class=" col-xl-4 ">
        @if (Context.Session.GetString("Role") == "Customer")
        {
            <hr />
            <h5 style="margin-bottom: 15px; ">
                Favourite Shops:
            </h5>

            <div class="table-responsive">
                <table id="viewFavShop" class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Shop Name</th>
                            <th>Description</th>
                            <th>Website</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            @foreach (var item in Model.ShopList)
                            {

                                <td>@item.ShopName</td>
                                <td>@item.ShopDescription</td>
                                <td><a>@item.WebsiteLink</a></td>
                                <td>
                                    <a asp-action="ShopDetails" asp-controller="Shops"
                                       asp-route-id="@item.ShopID">Details</a>
                                </td>
                                <br />
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        }

        </div>
</section>