@model greendoor.Models.ShopReviewViewModel

@{
    ViewData["Title"] = "Details";
}
<br>
<h4 class="PageTitle">@Html.Display("ShopName")</h4>
<hr />

<section class="holder">


    <div class="split">
        <img src="https://picsum.photos/400/400" />
    </div>

    <div class="split">
        <fieldset class="FormContent">
            <div class="form-group row">
                <label asp-for="ShopName"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.Display("ShopName")
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ShopDescription" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.Display("ShopDescription")
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Zone"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.Display("Zone")
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ContactNumber"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.Display("ContactNumber")
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.Display("Address")
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="PostalCode"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.Display("PostalCode")
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="WebsiteLink"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.Display("WebsiteLink")
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="SocialMediaLink"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 form-control-plaintext">
                    @Html.Display("SocialMediaLink")
                </div>
            </div>
        </fieldset>
    </div>


</section>

<div class="overflow-scroll">

    @if (Model.reviewsList.Count != 0)
    {
        <h5>
            Reviews:
        </h5>
        <partial name="~/Views/Shops/_ViewReviews.cshtml"
                 model="@Model.reviewsList" />
    }
    else
    {
        <span style="color:red;font-size:28px">No Review Yet!</span>
    }
</div>

<div>

    @if (Context.Session.GetString("Role") == "Customer")
    {
        <hr />
        <h5>
            Add Review:
        </h5>
        <partial name="~/Views/Customer/_AddReviews.cshtml" />
    }
    else
    {
        <p><a asp-action="Login" asp-controller="Home">Login </a> to leave a review!</p>
    }
</div>

@*<div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
            <a asp-action="Add" asp-route-id="@Context.Session.GetString("ShopID")">Add Review</a>
        </div>
    </div>*@