@model IEnumerable<greendoor.Models.ForumPost>

    <div class="post border border-success rounded"><br />
        <div class="col-lg-12 mx-auto">

            @foreach (var item in Model)
            {
                <h5 class="post-name">@Html.DisplayFor(modelItem => item.PostName) </h5>
                <p> Added by: <span class="added-by">@Html.DisplayFor(modelItem => item.CustomerID) </span> </p>
                <p> Date Posted by: <span class="date-posted">@Html.DisplayFor(model => item.DateTimePosted) </span> </p>

                <p class="post-description">@Html.DisplayFor(model => item.PostDescription) </p>

                <p>@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) </p>
             }

            <div class="comment-section">
                <p><u>Comments</u></p>

                <div class="comments"></div>
            </div>

        </div><br />

    </div>

    <br />

