@model greendoor.Models.AdminShopViewModel

@if (Model.shopList.Count != 0)
{
    <!-- Display a list of Competitions -->
    <div class="table-responsive">
        <table id="viewCompetition" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Shop ID</th>
                    <th>Shop Name</th>
                    <th>Shop Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.shopList)
                {
                <td>@item.ShopID.ToString()</td>
                <td>@item.ShopName</td>
                <td>@item.EmailAddr</td>
                <td>
                    <a asp-action="ShopDetails" asp-controller="Admin"
                       asp-route-ShopID="@item.ShopID">View Shop</a> ||
                    <a asp-action="ShopUpdate" asp-controller="Admin"
                       asp-route-ShopID="@item.ShopID">Update Shop</a> ||
                    <a asp-action="ShopDelete" asp-controller="Admin"
                       asp-route-ShopID="@item.ShopID">Delete Shop</a>
                </td>

            }
                </tbody>
            </table>
    </div>
}
else
{
    <span style="color:red;font-size:28px">@ViewData["noShop"]</span>
}
