@model greendoor.Models.AdminShopViewModel

@{
    ViewData["Title"] = "Details";
}
<br>
<h4 class="PageTitle">@Html.Display("ShopName")</h4>
<section class="holder">
    <hr />
</section>

<section class="holder">

    @*<div class="shop-border">*@
    <div class=" ">
        <img src="~/images/@Model.ShopPicture" style="width:250px" class="justify-content-center image-padding" />
    </div>
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="ShopDescription" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext">
                @Html.Display("ShopDescription")
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ContactNumber"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext">
                @Html.Display("ContactNumber")
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Address"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext">
                @Html.Display("Address")
            </div>

        </div>
        <div class="form-group row">
            <label asp-for="WebsiteLink"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext">
                @Html.Display("WebsiteLink")
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label"><a asp-controller="Admin" asp-action="ShopUpdate">Update Details</a></label>
            <div class="col-sm-9 form-control-plaintext">
                <a asp-controller="Admin" asp-action="ShopDelete" asp-route-ShopID="@Model.ShopID">Delete Shop</a>
            </div>
        </div>

    </fieldset>



</section>

<section class="holder">

    <div class=" col-xl-4 ">

        @if (Model.reviewsList.Count != 0)
        {
            <br />
            <hr />
            <h5 style="margin-bottom:15px; ">
                Reviews:
            </h5>
            <partial name="~/Views/Admin/_ViewReviews.cshtml" />
            <a style="margin-bottom: 15px; " asp-action="ViewReviews" asp-controller="Admin" asp-route-id="@Model.ShopID">View More Reviews</a>

        }
        else
        {

        }
    </div>

    <div class="col-xl-8">

        @if (Model.shopPostList.Count != 0)
        {<br />
            <hr />
            <h5 style="margin-bottom: 15px; ">
                Shop Post:
            </h5>
            <partial name="~/Views/Admin/_Posts.cshtml" />
            <a style="margin-bottom: 15px; margin-right: 3%;" asp-action="ViewPosts" asp-controller="Admin" asp-route-id="@Model.ShopID">View More Posts</a>
        }
        else
        {

        }
    </div>
</section>
<br />
<div>