@model IEnumerable<greendoor.Models.Shop>

@{
    ViewData["Title"] = "Index";
}
<html>
<head>
    
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />
    <title>Shops</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
    
</head>

<body class="text-center">
    @if (ViewData["topNumberReviews1a"] != null)
            {
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Top Shops for Number of Reviews</th>
                    <th>Number of Reviews</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>@ViewData["topNumberReviews1a"]</th>
                    <th>@ViewData["topNumberReviews1b"]</th>
                </tr>
                @if (ViewData["topNumberReviews2a"] != null)
                {
                    <tr>
                        <th>@ViewData["topNumberReviews2a"]</th>
                        <th>@ViewData["topNumberReviews2b"]</th>
                    </tr>
                }
                @if (ViewData["topNumberReviews3a"] != null)
                {
                    <tr>
                        <th>@ViewData["topNumberReviews3a"]</th>
                        <th>@ViewData["topNumberReviews3b"]</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
            }
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Shops</h1>

        <p class="lead mb-4"> Locate Thift Shops Around You</p>





        <partial name="~/Views/Shops/_ViewShops.cshtml" model="@Model" />
        <div style="
        height:60%;
        width:60%;">

            <img src="~/images/Online Shopping_Isometric.png"
                 style="position: absolute; float: left; left: 0px; bottom: 0px; z-index: -1; opacity: 0.7;">

        </div>
    </div>

</body>
</html>
